body{
    margin: 0;
    background-color: black;
    font-family: "monospace";
    color: white;
    
}

html {
    scroll-behavior:smooth;
}

.container-fluid{
    height: 100vh;
    overflow-x: hidden;
    perspective: 20px;
}

.banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
}

a{
    text-decoration: none;
  }
 

.content{
    text-decoration: none;

    
    position:absolute;
    font-size: 55px;
    
    font-family: "Josefin Sans";
    transform: translateZ(10px);
    transform: translateY(-150px);
    
}
.name{

    color: #e0e0e0;
    
    
}

.bg{
    background-image: url(bg3.jpg);
    filter: blur(1px);
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: translateZ(-10px) scale(1.);
}

.bg::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to top, #010001, transparent
    );
    bottom: 0;
}



.texta {
    width: 900px;
    font-weight: bolder;
    font-family: "Doto";
    font-size: xx-large;
    z-index: 10;
    white-space: nowrap;
    letter-spacing: 5px;
    overflow: hidden;
    border-right: 5px solid white;
    animation: typing 1.5s steps(10) 1,
    caret 0.5s steps(2) infinite,
    fadeOutCaret 0.5s ease-out forwards 15s;
}
@keyframes caret{
    from{border-color: white;}
    to{border-color: transparent;}
}

@keyframes typing{
    from{width:0;}
    to{width:50%;}
}

@keyframes fadeOutCaret {
    from { border-color: white; }
    to { border-color: transparent; }
}


.wrapper{
    position: absolute;
    bottom: 220px;
    width: 80vh;
    height: 100px;
    display: flex;
    justify-content: space-around;
    gap: 10px
}

.num{
    width: 14vmin;
    height: 14vmin;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    border-bottom: 1px solid #fff200;
    }

    span.num1 {
        font-family: "Doto";
        color:#ffffff;
        display: grid;
        place-items: center; 
        font-weight: 600;
        font-size: 3.5em;
    }

    span.text {
        font-family: "Josefin Sans";
        color:#e0e0e0;
        font-size: 1.7em;
        text-align: center;
        pad: 0.7em 0;
        font-weight: 600;
        line-height: 0;
    }


    